.order-connexion {
  @extend .contact-box;

  

  & button {
    @extend .link;
    color: $color1;

    &:hover {
      color: $color1;
    }

    &:hover::before {
      border-top-color: $color1;
      border-right-color: $color1;
    }

    &:hover::after {
      border-bottom-color: $color1;
      border-left-color: $color1;
    }

  }

}
